In [ ]:
Q1. What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use
    MongoDB over SQL databases?

In [ ]:
MongoDB :
        MongoDB is a NoSQL database technology that stores its data in JSON format rather than a relational format that 
        you’d find in SQL databases. This makes MongoDB flexible because data can be stored in a hierarchical format within 
        the JSON document, thereby making it easy and fast to retrieve records.
        
Non-Relational Database :
                        Non-relational databases are databases that do not use the tabular schema of rows and columns found
                        in most traditional database systems. Instead, non-relational databases use a storage model that is 
                        optimized for the specific requirements of the type of data being stored. They store their data in 
                        a non-tabular form and might be based on data structures like documents. Non-relational databases 
                        tend to be more flexible than the traditional, SQL-based, relational database structures.
                        
In the event that your data is unstructured, complex, there is no pre-determined schema and you need to handle large amounts 
of data and store it as documents, MongoDB can be preferred over SQL.

In [ ]:
----------------------------------------------------------------------------------------------------------------------------

In [ ]:
Q2. State and Explain the features of MongoDB.

In [ ]:
MongoDB is a document-oriented NoSQL database used for high volume data storage. Instead of using tables and rows as in the
traditional relational databases, MongoDB makes use of collections and documents. Documents consist of key-value pairs which 
are the basic unit of data in MongoDB.

MongoDB Features :
1. Each database contains collections which in turn contains documents. Each document can be different with a varying number of fields. 
   The size and content of each document can be different from each other.
2. The document structure is more in line with how developers construct their classes and objects in their respective programming languages.
   Developers will often say that their classes are not rows and columns but have a clear structure with key-value pairs.
3. The rows (or documents as called in MongoDB) doesn’t need to have a schema defined beforehand.
   Instead, the fields can be created on the fly.
4. The data model available within MongoDB allows you to represent hierarchical relationships, to store arrays, and other more
   complex structures more easily.

In [ ]:
----------------------------------------------------------------------------------------------------------------------------

In [ ]:
Q3. Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.

In [24]:
pip install pymongo

Requirement already satisfied: pymongo in /opt/conda/lib/python3.10/site-packages (4.3.3)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /opt/conda/lib/python3.10/site-packages (from pymongo) (2.3.0)
Note: you may need to restart the kernel to use updated packages.

In [25]:
import pymongo
client = pymongo.MongoClient("mongodb+srv://ramsewak:password@cluster0.c39sauj.mongodb.net/?retryWrites=true&w=majority")
db = client.test

In [26]:
client = pymongo.MongoClient("mongodb+srv://ramsewak:password@cluster0.c39sauj.mongodb.net/?retryWrites=true&w=majority")

In [27]:
db = client["Data_Science_Masters"]

In [28]:
coll_data_science = db["my_record"]

In [29]:
data = {"name" : "ram",
         "class" : "DSM",
        "time":"flaxi"
       }

In [30]:
coll_data_science.insert_one(data)

In [ ]:
-----------------------------------------------------------------------------------------------------------------------------

In [ ]:
Q4. Using the database and the collection created in question number 3, write a code to insert one record,
    and insert many records. Use the find() and find_one() methods to print the inserted record.

In [31]:
one_record = {
               "name" : "Ram Sewak",
               "class" : "DSM",
               "Phone No." : 1234
             }

In [32]:
coll_data_science.insert_one(one_record)

In [33]:
many_record = [
                {"Name" : "Ram" ,"id" : 123},
                {"Name" : "Sewak" , "id" : 234},
                {"Name" : "Jas" , "id" : 456}
               ]

In [34]:
coll_data_science.insert_many(many_record)

In [35]:
 coll_data_science.find_one()

{'_id': ObjectId('6492a4ca7e0d7627dada3bbe'),
 'name': 'ram',
 'class': 'DSM',
 'time': 'flaxi'}

In [36]:
for i in coll_data_science.find():
    print(i)

{'_id': ObjectId('6492a4ca7e0d7627dada3bbe'), 'name': 'ram', 'class': 'DSM', 'time': 'flaxi'}
{'_id': ObjectId('6492a4d17e0d7627dada3bbf'), 'name': 'Ram Sewak', 'class': 'DSM', 'Phone No.': 1234}
{'_id': ObjectId('6492a4d57e0d7627dada3bc0'), 'Name': 'Ram', 'id': 123}
{'_id': ObjectId('6492a4d57e0d7627dada3bc1'), 'Name': 'Sewak', 'id': 234}
{'_id': ObjectId('6492a4d57e0d7627dada3bc2'), 'Name': 'Jas', 'id': 456}

In [ ]:
-----------------------------------------------------------------------------------------------------------------------------

In [ ]:
Q5. Explain how you can use the find() method to query the MongoDB database. Write a simple code to demonstrate this.

In [ ]:
The find () method in MongoDB selects documents in a collection or view and returns a cursor to the selected documents.
It has two parameters: query and projection. db.collection.find (<query>,<projection>) the first ‘ query ‘ or
filter parameter specifies the search.
for example:

In [38]:
coll_data_science.find({'name' : 'ram'},{"$set" : {"Ram Sewak"}})

In [ ]:
-----------------------------------------------------------------------------------------------------------------------------

In [ ]:
Q6. Explain the sort() method. Give an example to demonstrate sorting in MongoDB.

In [ ]:
The sort() method in MongoDB is used to sort the documents in a collection. It accepts a document containing a 
list of fields along with their sorting order. The sorting order is specified as 1 or -1. 
1 is used for ascending order sorting and -1 is used for descending order sorting.

In [40]:
data1 = [
          { "_id": 1,"name": "John","age": 25},
          {"_id": 2,"name": "Jane","age": 22},
          {"_id": 3,"name": "Bob","age": 30}
        ]

In [41]:
coll_data_science.insert_many(data1)

In [47]:
for i in coll_data_science.find().sort("age",1):
    print(i)

{'_id': ObjectId('6492a4ca7e0d7627dada3bbe'), 'name': 'ram', 'class': 'DSM', 'time': 'flaxi'}
{'_id': ObjectId('6492a4d17e0d7627dada3bbf'), 'name': 'Ram Sewak', 'class': 'DSM', 'Phone No.': 1234}
{'_id': ObjectId('6492a4d57e0d7627dada3bc0'), 'Name': 'Ram', 'id': 123}
{'_id': ObjectId('6492a4d57e0d7627dada3bc1'), 'Name': 'Sewak', 'id': 234}
{'_id': ObjectId('6492a4d57e0d7627dada3bc2'), 'Name': 'Jas', 'id': 456}
{'_id': 2, 'name': 'Jane', 'age': 22}
{'_id': 1, 'name': 'John', 'age': 25}
{'_id': 3, 'name': 'Bob', 'age': 30}

In [ ]:
-----------------------------------------------------------------------------------------------------------------------------

In [ ]:
Q7. Explain why delete_one(), delete_many(), and drop() is used.

In [ ]:
delete_one is used to delete one document
first parameter of delet_one is the querry object defining which document to delete
when delete_one querry matches multiple documents then it will delete the first occurrence

In [48]:
coll_data_science.delete_one({"age" : 22})

In [ ]:
delete_many is used to delete multiple document
first parameter of delet_many is the querry object defining which document to delete

In [49]:
coll_data_science.delete_many({'name':'Ram Sewak'})

In [ ]:
The drop() method in MongoDB is used to remove collections from the database. It is more efficient than deleting or removing
because it removes the entire structure of the collection and its indexes instead of just removing a document or 
index one-by-one. The method accepts an optional document and returns true if the collection dropped successfully.
If the collection is not found, it returns False.